<div class="flex-container">

  <div class="flex-left">
    <div class='content--center'>
      <h1>Kristin Lasita</h1>
      <h2>Product Designer</h2>

      <p>I balance time, beauty and function while designing and building apps at <%= link_to 'Gaslight', 'http://teamgaslight.com', target:'_blank' %>. I also am the creator of <%= link_to 'Chomps', 'http://chomps.herokuapp.com', target:'_blank' %>.</p>
      <p>You can find me on <%= link_to 'Twitter', 'https://twitter.com/kclasita', target:'_blank' %> and <%= link_to 'Github', 'https://github.com/kclasita', target:'_blank' %>.</p>
    </div>
    <div class='footer'>
      <%= partial "face" %>
      <%= mail_to 'hello@kristinlasita.com', 'hello@kristinlasita.com', target:'_blank' %>
    </div>
  </div>

  <div class="flex-right">
    <section>
      <h4>Case Study</h4>
      <h3><%= link_to 'Second Story Auctions', 'https://www.behance.net/gallery/22794741/Second-Story-Auctions', target:'_blank' %></h3>
      <p>An online auction company based in Cincinnati. They work with customers to sell unwanted items in a home.</p>
      <%= link_to 'See the work', 'https://www.behance.net/gallery/22794741/Second-Story-Auctions', target:'_blank' %>
    </section>
  </div>
</div>
