<div class="flex-container">

  <div class="flex-left">
    <div class='content--center'>
      <h1>Kristin Lasita</h1>
      <h2>Product Designer</h2>

      <p>I balance time, beauty and function while designing and building<br> apps at <%= link_to 'Gaslight', 'http://teamgaslight.com', target:'_blank' %>. I also am the creator of <%= link_to 'Chomps', 'http://chomps.herokuapp.com', target:'_blank' %>.</p>
      <p>You can find me on <%= link_to 'Twitter', 'https://twitter.com/kclasita', target:'_blank' %> and <%= link_to 'Github', 'https://github.com/kclasita', target:'_blank' %>.</p>
    </div>
    <div class='footer'>
      <%= partial "face" %>
      <%= mail_to 'hello@kristinlasita.com', 'hello@kristinlasita.com', target:'_blank' %>
    </div>
  </div>

  <div class="flex-right">
    <section>
      <h4>Case Study</h4>
      <h3><%= link_to 'Second Story Auctions', 'https://www.behance.net/gallery/22794741/Second-Story-Auctions', target:'_blank' %></h3>
      <p>An online auction company based in Cincinnati. They work with customers to sell unwanted items in a home.</p>
      <%= link_to 'See the work', 'https://www.behance.net/gallery/22794741/Second-Story-Auctions', target:'_blank' %>
    </section>

    <section>
      <h4>Writing</h4>
      <h3><%= link_to 'How to Design for Web Accessibility Standards', 'https://teamgaslight.com/blog/how-to-design-for-web-accessibility-standards', target:'_blank' %></h3>
      <p>There are a lot of tips and tricks out there for writing accessible mark-up and JavaScript, but there’s a lot more to consider when you’re building an accessible app or website.</p>
      <%= link_to 'Read more', 'https://teamgaslight.com/blog/how-to-design-for-web-accessibility-standards', target:'_blank' %>
    </section>

    <section>
      <h4>Case Study</h4>
      <h3><%= link_to 'Meaningful Content Fund', 'https://www.behance.net/gallery/22726823/Meaningful-Content-Fund', target:'_blank' %></h3>
      <p>$1 million dedicated to find meaningful output on the internet through articles, videos, and photos</p>
      <%= link_to 'See the work', 'https://www.behance.net/gallery/22726823/Meaningful-Content-Fund', target:'_blank' %>
    </section>

    <section>
      <h4>Case Study</h4>
      <h3><%= link_to 'Gaslight Branding', 'https://www.behance.net/gallery/22446979/Gaslight-Branding', target:'_blank' %></h3>
      <p>A software development firm that transforms businesses with web-based technology needed an upgrade.</p>
      <%= link_to 'See the work', 'https://www.behance.net/gallery/22446979/Gaslight-Branding', target:'_blank' %>
    </section>

    <section>
      <h4>Writing</h4>
      <h3><%= link_to 'Creating Reusable Style Components', 'http://www.howdesign.com/web-design-resources-technology/design-ideas-creating-reusable-style-components-web/', target:'_blank' %></h3>
      <p>Even if you don’t write your own CSS, it’s still important to consider how hard your designs are to turn into a real working website.</p>
      <%= link_to 'See the work', 'http://www.howdesign.com/web-design-resources-technology/design-ideas-creating-reusable-style-components-web/', target:'_blank' %>
    </section>
  </div>
</div>
